:root {
  --blue: rgb(144, 241, 239);
  --black: rgb(1, 22, 30);
  --yellow: rgb(252, 252, 98);
}

body {
  color: var(--black);
  background-color: var(--blue);
  font-family: "Candal", sans-serif;
}

#header {
  width: 50vw;
  min-width: 400px;
  margin: 15vh auto 10vh auto;
  text-align: center;
}

#main {
  width: 50vw;
  min-width: 400px;
  margin: 5vh auto;
}

#input-container {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#results-div {
  min-height: 60px;
  text-align: center;
  margin: 20px auto;
}

button {
  font-family: "Candal", sans-serif;
  margin: 5px;
  width: 12em;
  height: 2.25em;
  cursor: pointer;
  background-color: var(--yellow);
  border-radius: 50px;
}

button:hover {
  transition: ease-in-out .1s;
  filter:brightness(1.25);
  box-shadow: 0px 0px 12px var(--yellow);
}

button:active{
  box-shadow: none;
}

input {
  width: 30em;
  height: 1.5em;
  padding: 2px 10px;
  border-radius: 20px;
}
